<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackfit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackFit">
        <activity
            android:name=".ProfileDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".PreviousWorkoutDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".PreviousWorkoutsActivity"
            android:exported="true" />
        <activity
            android:name=".NewProfileActivity"
            android:exported="true" />
        <activity
            android:name=".EndWorkoutActivity"
            android:exported="true" />
        <activity
            android:name=".CurrentWorkoutActivity"
            android:exported="true" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>